bin/
obj/
.vs/
*.user
*.suo
*.ps1
*.gz
*.zip
*.bat
*.tar
*.exe
db-schema/
publish/
# Allow the integration test launch scripts to be tracked.
!scripts/run-integration-tests.ps1
!scripts/run-integration-tests.sh
!scripts/run-unit-tests.ps1
!scripts/run-unit-tests.sh
!scripts/profile-benchmarks.ps1
!scripts/profile-benchmarks.sh

